@inherits WebButton

<BlockScaffolding CssStyles="CssStyles" HeightOfBlock="@(new WebSizePercent(100))">
    <ChildContent>
        <a href="@RedirectLink" class="button_image">
            <div class="button_image__text">
                <TextBlock 
                    HeightOfBlock="@(new WebSizePercent(100))"
                    IsFullHeight="@(true)"
                    TextField="@(TextField)"
                    Size="@(TextBlock.SizeType.Big)"
                    Align="@(WebAlignType.Center)"/>
            </div>
            <img class="button_image__img" src="@(ImageSource)" alt="img"/>
        </a>
    </ChildContent>
</BlockScaffolding>


@code {
    [Parameter] public WebText TextField { get; set; } = "None";
    [Parameter] public string ImageSource { get; set; } = "None";

    public override Dictionary<string, object> GetValuesDictionary()
    {
        var oldDictionary = base.GetValuesDictionary();
        oldDictionary.TryAdd(nameof(TextField), TextField);
        oldDictionary.TryAdd(nameof(ImageSource), ImageSource);
        return oldDictionary;
    }

    private void ButtonClick()
    {
        // OnClick?.Invoke();
    }
}
