@using ElementsLib.Models
@using ElementsLib.BaseElements
@using ElementsLib.ComputerShopStyle

@inherits ComponentBaseWithStyles

<ColumnScaffolding ScaffoldingStyle="CssStyles">
    <AdditionalContent>
        <div class="about_01__photo">
            <img src="https://static.powerc.store/insta/photo_pc-10.jpg" alt="Cool PC Photo">
        </div>
    </AdditionalContent>

    <AdditionalContent>
        <TextBlock
            IsTitle="@(true)"
            TextField=@("Our mission is to build gaming PCs at the best price without cutting corners.")
            FontColor="@("#3a3a3a")"
            FontFamily="@("evogria")"/>
        <ButtonColor
            MarginTop="@(60)"
            WidthOfBlock="@(new WebSizePercent(50))"
            TextField="@("Let's build")"
            Type="@(ButtonColor.DesignType.Pink)"/>
    </AdditionalContent>
</ColumnScaffolding>

@code {
    [Parameter] public string ImageSource { get; set; }
    
    [Parameter]
    public WebText? TextFieldTitle { get; set; }
    
    [Parameter]
    public WebText? TextField { get; set; }
}