@using ElementsLib.BaseElements
@using ElementsLib.Models
@inherits ScaffoldingRenderElement

<ScaffoldingRenderElement Child="this">
    <div class="feature_02">
        @foreach (var item in Items)
        {
            <div class="feature_02__item">
                
                <img class="item__background_avatar"
                     src="//cdn.shopify.com/s/files/1/0408/5792/7834/files/Good-1_117x117.jpg?v=1614350504"
                     alt="First configuration avatar"/>

                <div class="item__background"></div>

                <div class="item__content">
                    <Text_Title
                        FontSize="new WebSizeEm(2)"
                        Text="@item.Header.Content"
                        HeadlineType="Text_Title.Headline.H3"
                        SpacingBottom="@(15)"
                        FontName="evogria"/>

                    <Text_Block
                        Text="@item.TextField"
                        SpacingBottom="@(15)"/>

                    <ComputerStats
                        SpacingTop="20"
                        SpacingBottom="20" />

                    <Text_Title
                        Text="@("Starting at")"
                        FontSize="new WebSizeEm(.6f)"
                        Align=@(new WebTextAlign(TextAlignType.Center))
                        FontName="evogria"/>

                    <Text_Title
                        Text="@("$2,228")"
                        FontSize="new WebSizeEm(1.1f)"
                        Align=@(new WebTextAlign(TextAlignType.Center))
                        FontName="evogria"/>
                </div>

                <Button_Stretch
                    Button=@item.Button
                    Height="new WebSizePx(55)"/>

            </div>
        }
    </div>
</ScaffoldingRenderElement>


@code {

    
    public override string? BackgroundColor { get; set; } = "#fff";

    public List<Content> Items => new List<Content>
    {
        Feature1, Feature2, Feature3
    };
    
    [Parameter] public Content Feature1 { get; set; }
    [Parameter] public Content Feature2 { get; set; }
    [Parameter] public Content Feature3 { get; set; }
    
    public class Content
    {
        public string ImageSource { get; set; }
        public WebText Header { get; set; }
        public WebText TextField { get; set; }
        public WebButtonModel Button { get; set; }
        public string PriceField { get; set; }
    }
}