@using ElementsLib.Models

<a @onclick="ButtonClick" href="@Button.Reference" class="button_stretch" style="@Button.WebStyles @_styles">
    <span class="button_stretch__text" style="@Button.Text.Styles">
        @Button.Text
    </span>
    @if (Button.BackgroundImage != null)
    {
        <div class="button_stretch__image">
            <img src=@(Button.BackgroundImage) alt="">
        </div>
    }
</a>

@code {

    private void ButtonClick()
    {
        Button.Action?.Invoke();
    }
    
    [Parameter] public WebButtonModel Button { get; set; }
    
    /// By default is height = 100% 
    [Parameter] public WebSize? Height { get; set; }
    
    private string _styles 
    {
        get
        {
            var returnString = "";
            returnString += Height != null ? $"height: {Height}; " : "";
            return returnString;
        }
    }
}
