@inherits WebBlockModel

<Scaffolding ChildWebBlockModel="this">
    
    <div class="computer_stats">
        <div class="computer_stats__item">
            <div class="item">
                <div class="item__image" >
                    <svg viewBox="0 0 35 36">
                        <circle cx="17.447" cy="17.5983" r="17.0108" fill="white" stroke="white" stroke-width="0.872348"></circle>
                        <g clip-path="">
                            <path d="M26.2177 9.72206H10.3947V8.19238H5.80566V11.2517H8.10018V12.7814H6.5705V18.1353H8.10018V19.665H6.5705V23.4891H8.10018V27.3133H10.3947V25.0188H11.1595V27.3133H14.2189V26.9309C14.2189 26.7198 14.3902 26.5485 14.6013 26.5485C14.8124 26.5485 14.9837 26.7198 14.9837 26.9309V27.3133H18.0431V26.9309C18.0431 26.7198 18.2144 26.5485 18.4255 26.5485C18.6366 26.5485 18.8079 26.7198 18.8079 26.9309V27.3133H25.6915V26.9309C25.6915 26.7198 25.8628 26.5485 26.0739 26.5485C26.285 26.5485 26.4563 26.7198 26.4563 26.9309V27.3133H28.7508V25.0188H29.5156V12.6078L26.2177 9.72206ZM8.10018 22.7243H7.33534V20.4298H8.10018V22.7243ZM8.10018 17.3704H7.33534V13.5462H8.10018V17.3704ZM9.62985 26.5485H8.86502V10.4869H6.5705V8.95722H9.62985V26.5485ZM10.3947 10.4869H16.9463L15.9264 12.0166H10.3947V10.4869ZM10.3947 24.254V22.7243H15.9264L16.9463 24.254H10.3947ZM20.3376 26.5485H19.5074C19.3494 26.1034 18.9242 25.7837 18.4255 25.7837C17.9268 25.7837 17.5016 26.1034 17.3436 26.5485H15.6832C15.5252 26.1034 15.1 25.7837 14.6013 25.7837C14.1026 25.7837 13.6774 26.1034 13.5194 26.5485H11.9244V25.0188H20.3376V26.5485ZM21.8673 26.5485H21.1024V25.0188H21.8673V26.5485ZM23.3969 26.5485H22.6321V25.0188H23.3969V26.5485ZM27.986 26.5485H27.1557C26.9978 26.1034 26.5725 25.7837 26.0739 25.7837C25.5752 25.7837 25.1499 26.1034 24.992 26.5485H24.1618V25.0188H27.986V26.5485ZM28.7508 24.254H17.8652L16.3356 21.9595H10.3947V12.7814H16.3356L17.8652 10.4869H25.9301L28.7508 12.955V24.254Z" fill="#232323"></path>
                            <path d="M21.8671 11.2515C18.4934 11.2515 15.7484 13.9965 15.7484 17.3702C15.7484 20.7439 18.4934 23.4889 21.8671 23.4889C25.2408 23.4889 27.9858 20.7439 27.9858 17.3702C27.9858 13.9965 25.2408 11.2515 21.8671 11.2515ZM26.3716 14.4879C26.7082 15.0118 26.9564 15.5961 27.094 16.2229H24.6366L26.3716 14.4879ZM23.0144 12.1433C23.6412 12.2809 24.2255 12.5291 24.7494 12.8657L23.0144 14.6007V12.1433ZM23.0144 15.8405V15.6822L25.3678 13.3288C25.5609 13.4959 25.7414 13.6764 25.9085 13.8695L23.5551 16.2229H23.3968V16.2348C23.2851 16.0845 23.1528 15.9522 23.0025 15.8405H23.0144ZM21.4847 12.0358C21.6117 12.0266 21.7379 12.0163 21.8671 12.0163C21.9964 12.0163 22.1226 12.0266 22.2495 12.0358V15.4967C22.126 15.4715 21.9979 15.4581 21.8671 15.4581C21.7363 15.4581 21.6082 15.4715 21.4847 15.4967V12.0358ZM20.7199 12.1433V14.6007L18.9848 12.8657C19.5087 12.5291 20.0931 12.2809 20.7199 12.1433ZM18.3665 13.3288L20.7199 15.6822V15.8405H20.7317C20.5814 15.9522 20.4491 16.0845 20.3374 16.2348V16.2229H20.1791L17.8257 13.8695C17.9928 13.6764 18.1733 13.4959 18.3665 13.3288ZM17.3626 14.4879L19.0976 16.2229H16.6402C16.7779 15.5961 17.0261 15.0118 17.3626 14.4879ZM16.5133 17.3702C16.5133 17.2409 16.5236 17.1147 16.5328 16.9877H19.9936C19.9684 17.1113 19.955 17.2394 19.955 17.3702C19.955 17.501 19.9684 17.6291 19.9936 17.7526H16.5328C16.5236 17.6256 16.5133 17.4994 16.5133 17.3702ZM17.3626 20.2525C17.0261 19.7285 16.7779 19.1442 16.6402 18.5174H19.0976L17.3626 20.2525ZM20.7199 22.5971C20.0931 22.4594 19.5087 22.2112 18.9848 21.8747L20.7199 20.1396V22.5971ZM20.7199 18.8998V19.0582L18.3665 21.4116C18.1737 21.2441 17.9928 21.0636 17.8257 20.8708L20.1791 18.5174H20.3374V18.5056C20.4491 18.6559 20.5814 18.7882 20.7317 18.8998H20.7199ZM22.2495 22.7045C22.1226 22.7137 21.9964 22.724 21.8671 22.724C21.7379 22.724 21.6117 22.7137 21.4847 22.7045V19.2436C21.6082 19.2689 21.7363 19.2823 21.8671 19.2823C21.9979 19.2823 22.126 19.2689 22.2495 19.2436V22.7045ZM21.8671 18.5174C21.2346 18.5174 20.7199 18.0027 20.7199 17.3702C20.7199 16.7376 21.2346 16.2229 21.8671 16.2229C22.4996 16.2229 23.0144 16.7376 23.0144 17.3702C23.0144 18.0027 22.4996 18.5174 21.8671 18.5174ZM23.0144 22.5971V20.1396L24.7494 21.8747C24.2255 22.2112 23.6412 22.4594 23.0144 22.5971ZM25.3678 21.4116L23.0144 19.0582V18.8998H23.0025C23.1528 18.7882 23.2851 18.6559 23.3968 18.5056V18.5174H23.5551L25.9085 20.8708C25.7414 21.064 25.5609 21.2445 25.3678 21.4116ZM26.3716 20.2525L24.6366 18.5174H27.094C26.9564 19.1442 26.7082 19.7285 26.3716 20.2525ZM23.7406 17.7526C23.7658 17.6291 23.7792 17.501 23.7792 17.3702C23.7792 17.2394 23.7658 17.1113 23.7406 16.9877H27.2015C27.2107 17.1147 27.221 17.2409 27.221 17.3702C27.221 17.4994 27.2107 17.6256 27.2015 17.7526H23.7406Z" fill="#232323"></path>
                            <path d="M11.1597 15.458V19.2822H14.9839V15.458H11.1597ZM14.219 18.5174H11.9245V16.2228H14.219V18.5174Z" fill="#232323"></path>
                            <path d="M11.9245 13.5459H11.1597V14.3107H11.9245V13.5459Z" fill="#232323"></path>
                            <path d="M11.9245 20.4292H11.1597V21.194H11.9245V20.4292Z" fill="#232323"></path>
                            <path d="M22.2498 16.9878H21.485V17.7526H22.2498V16.9878Z" fill="#232323"></path>
                        </g>
                        <defs>
                            <clipPath id="clip1">
                                <rect width="23.71" height="23.71" fill="white" transform="translate(5.80566 5.89746)"></rect>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="item__progress_wrapper">
                    <div class="progress_wrapper__text">@(StatAName)</div>
                    <div class="progress_wrapper__progress">
                        <div class="progress" style="width: @(StatA)%; background: #c25be9;"></div>
                    </div>
                </div>
            </div>
        
            <div class="item">
                <div class="item__image" >
                    <svg viewBox="0 0 35 36">
                        <circle cx="17.447" cy="17.5983" r="17.0108" fill="white" stroke="white" stroke-width="0.872348"></circle>
                        <g clip-path="">
                            <path d="M26.2177 9.72206H10.3947V8.19238H5.80566V11.2517H8.10018V12.7814H6.5705V18.1353H8.10018V19.665H6.5705V23.4891H8.10018V27.3133H10.3947V25.0188H11.1595V27.3133H14.2189V26.9309C14.2189 26.7198 14.3902 26.5485 14.6013 26.5485C14.8124 26.5485 14.9837 26.7198 14.9837 26.9309V27.3133H18.0431V26.9309C18.0431 26.7198 18.2144 26.5485 18.4255 26.5485C18.6366 26.5485 18.8079 26.7198 18.8079 26.9309V27.3133H25.6915V26.9309C25.6915 26.7198 25.8628 26.5485 26.0739 26.5485C26.285 26.5485 26.4563 26.7198 26.4563 26.9309V27.3133H28.7508V25.0188H29.5156V12.6078L26.2177 9.72206ZM8.10018 22.7243H7.33534V20.4298H8.10018V22.7243ZM8.10018 17.3704H7.33534V13.5462H8.10018V17.3704ZM9.62985 26.5485H8.86502V10.4869H6.5705V8.95722H9.62985V26.5485ZM10.3947 10.4869H16.9463L15.9264 12.0166H10.3947V10.4869ZM10.3947 24.254V22.7243H15.9264L16.9463 24.254H10.3947ZM20.3376 26.5485H19.5074C19.3494 26.1034 18.9242 25.7837 18.4255 25.7837C17.9268 25.7837 17.5016 26.1034 17.3436 26.5485H15.6832C15.5252 26.1034 15.1 25.7837 14.6013 25.7837C14.1026 25.7837 13.6774 26.1034 13.5194 26.5485H11.9244V25.0188H20.3376V26.5485ZM21.8673 26.5485H21.1024V25.0188H21.8673V26.5485ZM23.3969 26.5485H22.6321V25.0188H23.3969V26.5485ZM27.986 26.5485H27.1557C26.9978 26.1034 26.5725 25.7837 26.0739 25.7837C25.5752 25.7837 25.1499 26.1034 24.992 26.5485H24.1618V25.0188H27.986V26.5485ZM28.7508 24.254H17.8652L16.3356 21.9595H10.3947V12.7814H16.3356L17.8652 10.4869H25.9301L28.7508 12.955V24.254Z" fill="#232323"></path>
                            <path d="M21.8671 11.2515C18.4934 11.2515 15.7484 13.9965 15.7484 17.3702C15.7484 20.7439 18.4934 23.4889 21.8671 23.4889C25.2408 23.4889 27.9858 20.7439 27.9858 17.3702C27.9858 13.9965 25.2408 11.2515 21.8671 11.2515ZM26.3716 14.4879C26.7082 15.0118 26.9564 15.5961 27.094 16.2229H24.6366L26.3716 14.4879ZM23.0144 12.1433C23.6412 12.2809 24.2255 12.5291 24.7494 12.8657L23.0144 14.6007V12.1433ZM23.0144 15.8405V15.6822L25.3678 13.3288C25.5609 13.4959 25.7414 13.6764 25.9085 13.8695L23.5551 16.2229H23.3968V16.2348C23.2851 16.0845 23.1528 15.9522 23.0025 15.8405H23.0144ZM21.4847 12.0358C21.6117 12.0266 21.7379 12.0163 21.8671 12.0163C21.9964 12.0163 22.1226 12.0266 22.2495 12.0358V15.4967C22.126 15.4715 21.9979 15.4581 21.8671 15.4581C21.7363 15.4581 21.6082 15.4715 21.4847 15.4967V12.0358ZM20.7199 12.1433V14.6007L18.9848 12.8657C19.5087 12.5291 20.0931 12.2809 20.7199 12.1433ZM18.3665 13.3288L20.7199 15.6822V15.8405H20.7317C20.5814 15.9522 20.4491 16.0845 20.3374 16.2348V16.2229H20.1791L17.8257 13.8695C17.9928 13.6764 18.1733 13.4959 18.3665 13.3288ZM17.3626 14.4879L19.0976 16.2229H16.6402C16.7779 15.5961 17.0261 15.0118 17.3626 14.4879ZM16.5133 17.3702C16.5133 17.2409 16.5236 17.1147 16.5328 16.9877H19.9936C19.9684 17.1113 19.955 17.2394 19.955 17.3702C19.955 17.501 19.9684 17.6291 19.9936 17.7526H16.5328C16.5236 17.6256 16.5133 17.4994 16.5133 17.3702ZM17.3626 20.2525C17.0261 19.7285 16.7779 19.1442 16.6402 18.5174H19.0976L17.3626 20.2525ZM20.7199 22.5971C20.0931 22.4594 19.5087 22.2112 18.9848 21.8747L20.7199 20.1396V22.5971ZM20.7199 18.8998V19.0582L18.3665 21.4116C18.1737 21.2441 17.9928 21.0636 17.8257 20.8708L20.1791 18.5174H20.3374V18.5056C20.4491 18.6559 20.5814 18.7882 20.7317 18.8998H20.7199ZM22.2495 22.7045C22.1226 22.7137 21.9964 22.724 21.8671 22.724C21.7379 22.724 21.6117 22.7137 21.4847 22.7045V19.2436C21.6082 19.2689 21.7363 19.2823 21.8671 19.2823C21.9979 19.2823 22.126 19.2689 22.2495 19.2436V22.7045ZM21.8671 18.5174C21.2346 18.5174 20.7199 18.0027 20.7199 17.3702C20.7199 16.7376 21.2346 16.2229 21.8671 16.2229C22.4996 16.2229 23.0144 16.7376 23.0144 17.3702C23.0144 18.0027 22.4996 18.5174 21.8671 18.5174ZM23.0144 22.5971V20.1396L24.7494 21.8747C24.2255 22.2112 23.6412 22.4594 23.0144 22.5971ZM25.3678 21.4116L23.0144 19.0582V18.8998H23.0025C23.1528 18.7882 23.2851 18.6559 23.3968 18.5056V18.5174H23.5551L25.9085 20.8708C25.7414 21.064 25.5609 21.2445 25.3678 21.4116ZM26.3716 20.2525L24.6366 18.5174H27.094C26.9564 19.1442 26.7082 19.7285 26.3716 20.2525ZM23.7406 17.7526C23.7658 17.6291 23.7792 17.501 23.7792 17.3702C23.7792 17.2394 23.7658 17.1113 23.7406 16.9877H27.2015C27.2107 17.1147 27.221 17.2409 27.221 17.3702C27.221 17.4994 27.2107 17.6256 27.2015 17.7526H23.7406Z" fill="#232323"></path>
                            <path d="M11.1597 15.458V19.2822H14.9839V15.458H11.1597ZM14.219 18.5174H11.9245V16.2228H14.219V18.5174Z" fill="#232323"></path>
                            <path d="M11.9245 13.5459H11.1597V14.3107H11.9245V13.5459Z" fill="#232323"></path>
                            <path d="M11.9245 20.4292H11.1597V21.194H11.9245V20.4292Z" fill="#232323"></path>
                            <path d="M22.2498 16.9878H21.485V17.7526H22.2498V16.9878Z" fill="#232323"></path>
                        </g>
                        <defs>
                            <clipPath id="clip2">
                                <rect width="23.71" height="23.71" fill="white" transform="translate(5.80566 5.89746)"></rect>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="item__progress_wrapper">
                    <div class="progress_wrapper__text">@(StatBName)</div>
               
                    <div class="progress_wrapper__progress">
                        <div class="progress" style="width: @(StatB)%; background: #007bed;"></div>
                    </div>
                </div>
            </div>
        
            <div class="item">
                <div class="item__image" >
                    <svg viewBox="0 0 35 36">
                        <circle cx="17.447" cy="17.5983" r="17.0108" fill="white" stroke="white" stroke-width="0.872348"></circle>
                        <g clip-path="">
                            <path d="M26.2177 9.72206H10.3947V8.19238H5.80566V11.2517H8.10018V12.7814H6.5705V18.1353H8.10018V19.665H6.5705V23.4891H8.10018V27.3133H10.3947V25.0188H11.1595V27.3133H14.2189V26.9309C14.2189 26.7198 14.3902 26.5485 14.6013 26.5485C14.8124 26.5485 14.9837 26.7198 14.9837 26.9309V27.3133H18.0431V26.9309C18.0431 26.7198 18.2144 26.5485 18.4255 26.5485C18.6366 26.5485 18.8079 26.7198 18.8079 26.9309V27.3133H25.6915V26.9309C25.6915 26.7198 25.8628 26.5485 26.0739 26.5485C26.285 26.5485 26.4563 26.7198 26.4563 26.9309V27.3133H28.7508V25.0188H29.5156V12.6078L26.2177 9.72206ZM8.10018 22.7243H7.33534V20.4298H8.10018V22.7243ZM8.10018 17.3704H7.33534V13.5462H8.10018V17.3704ZM9.62985 26.5485H8.86502V10.4869H6.5705V8.95722H9.62985V26.5485ZM10.3947 10.4869H16.9463L15.9264 12.0166H10.3947V10.4869ZM10.3947 24.254V22.7243H15.9264L16.9463 24.254H10.3947ZM20.3376 26.5485H19.5074C19.3494 26.1034 18.9242 25.7837 18.4255 25.7837C17.9268 25.7837 17.5016 26.1034 17.3436 26.5485H15.6832C15.5252 26.1034 15.1 25.7837 14.6013 25.7837C14.1026 25.7837 13.6774 26.1034 13.5194 26.5485H11.9244V25.0188H20.3376V26.5485ZM21.8673 26.5485H21.1024V25.0188H21.8673V26.5485ZM23.3969 26.5485H22.6321V25.0188H23.3969V26.5485ZM27.986 26.5485H27.1557C26.9978 26.1034 26.5725 25.7837 26.0739 25.7837C25.5752 25.7837 25.1499 26.1034 24.992 26.5485H24.1618V25.0188H27.986V26.5485ZM28.7508 24.254H17.8652L16.3356 21.9595H10.3947V12.7814H16.3356L17.8652 10.4869H25.9301L28.7508 12.955V24.254Z" fill="#232323"></path>
                            <path d="M21.8671 11.2515C18.4934 11.2515 15.7484 13.9965 15.7484 17.3702C15.7484 20.7439 18.4934 23.4889 21.8671 23.4889C25.2408 23.4889 27.9858 20.7439 27.9858 17.3702C27.9858 13.9965 25.2408 11.2515 21.8671 11.2515ZM26.3716 14.4879C26.7082 15.0118 26.9564 15.5961 27.094 16.2229H24.6366L26.3716 14.4879ZM23.0144 12.1433C23.6412 12.2809 24.2255 12.5291 24.7494 12.8657L23.0144 14.6007V12.1433ZM23.0144 15.8405V15.6822L25.3678 13.3288C25.5609 13.4959 25.7414 13.6764 25.9085 13.8695L23.5551 16.2229H23.3968V16.2348C23.2851 16.0845 23.1528 15.9522 23.0025 15.8405H23.0144ZM21.4847 12.0358C21.6117 12.0266 21.7379 12.0163 21.8671 12.0163C21.9964 12.0163 22.1226 12.0266 22.2495 12.0358V15.4967C22.126 15.4715 21.9979 15.4581 21.8671 15.4581C21.7363 15.4581 21.6082 15.4715 21.4847 15.4967V12.0358ZM20.7199 12.1433V14.6007L18.9848 12.8657C19.5087 12.5291 20.0931 12.2809 20.7199 12.1433ZM18.3665 13.3288L20.7199 15.6822V15.8405H20.7317C20.5814 15.9522 20.4491 16.0845 20.3374 16.2348V16.2229H20.1791L17.8257 13.8695C17.9928 13.6764 18.1733 13.4959 18.3665 13.3288ZM17.3626 14.4879L19.0976 16.2229H16.6402C16.7779 15.5961 17.0261 15.0118 17.3626 14.4879ZM16.5133 17.3702C16.5133 17.2409 16.5236 17.1147 16.5328 16.9877H19.9936C19.9684 17.1113 19.955 17.2394 19.955 17.3702C19.955 17.501 19.9684 17.6291 19.9936 17.7526H16.5328C16.5236 17.6256 16.5133 17.4994 16.5133 17.3702ZM17.3626 20.2525C17.0261 19.7285 16.7779 19.1442 16.6402 18.5174H19.0976L17.3626 20.2525ZM20.7199 22.5971C20.0931 22.4594 19.5087 22.2112 18.9848 21.8747L20.7199 20.1396V22.5971ZM20.7199 18.8998V19.0582L18.3665 21.4116C18.1737 21.2441 17.9928 21.0636 17.8257 20.8708L20.1791 18.5174H20.3374V18.5056C20.4491 18.6559 20.5814 18.7882 20.7317 18.8998H20.7199ZM22.2495 22.7045C22.1226 22.7137 21.9964 22.724 21.8671 22.724C21.7379 22.724 21.6117 22.7137 21.4847 22.7045V19.2436C21.6082 19.2689 21.7363 19.2823 21.8671 19.2823C21.9979 19.2823 22.126 19.2689 22.2495 19.2436V22.7045ZM21.8671 18.5174C21.2346 18.5174 20.7199 18.0027 20.7199 17.3702C20.7199 16.7376 21.2346 16.2229 21.8671 16.2229C22.4996 16.2229 23.0144 16.7376 23.0144 17.3702C23.0144 18.0027 22.4996 18.5174 21.8671 18.5174ZM23.0144 22.5971V20.1396L24.7494 21.8747C24.2255 22.2112 23.6412 22.4594 23.0144 22.5971ZM25.3678 21.4116L23.0144 19.0582V18.8998H23.0025C23.1528 18.7882 23.2851 18.6559 23.3968 18.5056V18.5174H23.5551L25.9085 20.8708C25.7414 21.064 25.5609 21.2445 25.3678 21.4116ZM26.3716 20.2525L24.6366 18.5174H27.094C26.9564 19.1442 26.7082 19.7285 26.3716 20.2525ZM23.7406 17.7526C23.7658 17.6291 23.7792 17.501 23.7792 17.3702C23.7792 17.2394 23.7658 17.1113 23.7406 16.9877H27.2015C27.2107 17.1147 27.221 17.2409 27.221 17.3702C27.221 17.4994 27.2107 17.6256 27.2015 17.7526H23.7406Z" fill="#232323"></path>
                            <path d="M11.1597 15.458V19.2822H14.9839V15.458H11.1597ZM14.219 18.5174H11.9245V16.2228H14.219V18.5174Z" fill="#232323"></path>
                            <path d="M11.9245 13.5459H11.1597V14.3107H11.9245V13.5459Z" fill="#232323"></path>
                            <path d="M11.9245 20.4292H11.1597V21.194H11.9245V20.4292Z" fill="#232323"></path>
                            <path d="M22.2498 16.9878H21.485V17.7526H22.2498V16.9878Z" fill="#232323"></path>
                        </g>
                        <defs>
                            <clipPath id="clip3">
                                <rect width="23.71" height="23.71" fill="white" transform="translate(5.80566 5.89746)"></rect>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="item__progress_wrapper">
                    <div class="progress_wrapper__text">@(StatCName)</div>
                    <div class="progress_wrapper__progress">
                        <div class="progress" style="width: @(StatC)%; background: #d93e4d;"></div>
                    </div>
                </div>
            </div>
        
            <div class="item">
                <div class="item__image" >
                    <svg viewBox="0 0 35 36">
                        <circle cx="17.447" cy="17.5983" r="17.0108" fill="white" stroke="white" stroke-width="0.872348"></circle>
                        <g clip-path="">
                            <path d="M26.2177 9.72206H10.3947V8.19238H5.80566V11.2517H8.10018V12.7814H6.5705V18.1353H8.10018V19.665H6.5705V23.4891H8.10018V27.3133H10.3947V25.0188H11.1595V27.3133H14.2189V26.9309C14.2189 26.7198 14.3902 26.5485 14.6013 26.5485C14.8124 26.5485 14.9837 26.7198 14.9837 26.9309V27.3133H18.0431V26.9309C18.0431 26.7198 18.2144 26.5485 18.4255 26.5485C18.6366 26.5485 18.8079 26.7198 18.8079 26.9309V27.3133H25.6915V26.9309C25.6915 26.7198 25.8628 26.5485 26.0739 26.5485C26.285 26.5485 26.4563 26.7198 26.4563 26.9309V27.3133H28.7508V25.0188H29.5156V12.6078L26.2177 9.72206ZM8.10018 22.7243H7.33534V20.4298H8.10018V22.7243ZM8.10018 17.3704H7.33534V13.5462H8.10018V17.3704ZM9.62985 26.5485H8.86502V10.4869H6.5705V8.95722H9.62985V26.5485ZM10.3947 10.4869H16.9463L15.9264 12.0166H10.3947V10.4869ZM10.3947 24.254V22.7243H15.9264L16.9463 24.254H10.3947ZM20.3376 26.5485H19.5074C19.3494 26.1034 18.9242 25.7837 18.4255 25.7837C17.9268 25.7837 17.5016 26.1034 17.3436 26.5485H15.6832C15.5252 26.1034 15.1 25.7837 14.6013 25.7837C14.1026 25.7837 13.6774 26.1034 13.5194 26.5485H11.9244V25.0188H20.3376V26.5485ZM21.8673 26.5485H21.1024V25.0188H21.8673V26.5485ZM23.3969 26.5485H22.6321V25.0188H23.3969V26.5485ZM27.986 26.5485H27.1557C26.9978 26.1034 26.5725 25.7837 26.0739 25.7837C25.5752 25.7837 25.1499 26.1034 24.992 26.5485H24.1618V25.0188H27.986V26.5485ZM28.7508 24.254H17.8652L16.3356 21.9595H10.3947V12.7814H16.3356L17.8652 10.4869H25.9301L28.7508 12.955V24.254Z" fill="#232323"></path>
                            <path d="M21.8671 11.2515C18.4934 11.2515 15.7484 13.9965 15.7484 17.3702C15.7484 20.7439 18.4934 23.4889 21.8671 23.4889C25.2408 23.4889 27.9858 20.7439 27.9858 17.3702C27.9858 13.9965 25.2408 11.2515 21.8671 11.2515ZM26.3716 14.4879C26.7082 15.0118 26.9564 15.5961 27.094 16.2229H24.6366L26.3716 14.4879ZM23.0144 12.1433C23.6412 12.2809 24.2255 12.5291 24.7494 12.8657L23.0144 14.6007V12.1433ZM23.0144 15.8405V15.6822L25.3678 13.3288C25.5609 13.4959 25.7414 13.6764 25.9085 13.8695L23.5551 16.2229H23.3968V16.2348C23.2851 16.0845 23.1528 15.9522 23.0025 15.8405H23.0144ZM21.4847 12.0358C21.6117 12.0266 21.7379 12.0163 21.8671 12.0163C21.9964 12.0163 22.1226 12.0266 22.2495 12.0358V15.4967C22.126 15.4715 21.9979 15.4581 21.8671 15.4581C21.7363 15.4581 21.6082 15.4715 21.4847 15.4967V12.0358ZM20.7199 12.1433V14.6007L18.9848 12.8657C19.5087 12.5291 20.0931 12.2809 20.7199 12.1433ZM18.3665 13.3288L20.7199 15.6822V15.8405H20.7317C20.5814 15.9522 20.4491 16.0845 20.3374 16.2348V16.2229H20.1791L17.8257 13.8695C17.9928 13.6764 18.1733 13.4959 18.3665 13.3288ZM17.3626 14.4879L19.0976 16.2229H16.6402C16.7779 15.5961 17.0261 15.0118 17.3626 14.4879ZM16.5133 17.3702C16.5133 17.2409 16.5236 17.1147 16.5328 16.9877H19.9936C19.9684 17.1113 19.955 17.2394 19.955 17.3702C19.955 17.501 19.9684 17.6291 19.9936 17.7526H16.5328C16.5236 17.6256 16.5133 17.4994 16.5133 17.3702ZM17.3626 20.2525C17.0261 19.7285 16.7779 19.1442 16.6402 18.5174H19.0976L17.3626 20.2525ZM20.7199 22.5971C20.0931 22.4594 19.5087 22.2112 18.9848 21.8747L20.7199 20.1396V22.5971ZM20.7199 18.8998V19.0582L18.3665 21.4116C18.1737 21.2441 17.9928 21.0636 17.8257 20.8708L20.1791 18.5174H20.3374V18.5056C20.4491 18.6559 20.5814 18.7882 20.7317 18.8998H20.7199ZM22.2495 22.7045C22.1226 22.7137 21.9964 22.724 21.8671 22.724C21.7379 22.724 21.6117 22.7137 21.4847 22.7045V19.2436C21.6082 19.2689 21.7363 19.2823 21.8671 19.2823C21.9979 19.2823 22.126 19.2689 22.2495 19.2436V22.7045ZM21.8671 18.5174C21.2346 18.5174 20.7199 18.0027 20.7199 17.3702C20.7199 16.7376 21.2346 16.2229 21.8671 16.2229C22.4996 16.2229 23.0144 16.7376 23.0144 17.3702C23.0144 18.0027 22.4996 18.5174 21.8671 18.5174ZM23.0144 22.5971V20.1396L24.7494 21.8747C24.2255 22.2112 23.6412 22.4594 23.0144 22.5971ZM25.3678 21.4116L23.0144 19.0582V18.8998H23.0025C23.1528 18.7882 23.2851 18.6559 23.3968 18.5056V18.5174H23.5551L25.9085 20.8708C25.7414 21.064 25.5609 21.2445 25.3678 21.4116ZM26.3716 20.2525L24.6366 18.5174H27.094C26.9564 19.1442 26.7082 19.7285 26.3716 20.2525ZM23.7406 17.7526C23.7658 17.6291 23.7792 17.501 23.7792 17.3702C23.7792 17.2394 23.7658 17.1113 23.7406 16.9877H27.2015C27.2107 17.1147 27.221 17.2409 27.221 17.3702C27.221 17.4994 27.2107 17.6256 27.2015 17.7526H23.7406Z" fill="#232323"></path>
                            <path d="M11.1597 15.458V19.2822H14.9839V15.458H11.1597ZM14.219 18.5174H11.9245V16.2228H14.219V18.5174Z" fill="#232323"></path>
                            <path d="M11.9245 13.5459H11.1597V14.3107H11.9245V13.5459Z" fill="#232323"></path>
                            <path d="M11.9245 20.4292H11.1597V21.194H11.9245V20.4292Z" fill="#232323"></path>
                            <path d="M22.2498 16.9878H21.485V17.7526H22.2498V16.9878Z" fill="#232323"></path>
                        </g>
                        <defs>
                            <clipPath id="clip4">
                                <rect width="23.71" height="23.71" fill="white" transform="translate(5.80566 5.89746)"></rect>
                            </clipPath>
                        </defs>
                    </svg>
                </div>
                <div class="item__progress_wrapper">
                    <div class="progress_wrapper__text">@(StatDName)</div>
                    <div class="progress_wrapper__progress">
                        <div class="progress" style="width: @(StatD)%; background: #00cce7;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</Scaffolding>



@code {

    [Parameter] public int StatA { get; set; } = 76;
    [Parameter] public string StatAName { get; set; } = "Graphic";
    [Parameter] public int StatB { get; set; } = 86;
    [Parameter] public string StatBName { get; set; } = "Processor";
    [Parameter] public int StatC { get; set; } = 66;
    [Parameter] public string StatCName { get; set; } = "Memory";
    [Parameter] public int StatD { get; set; } = 90;
    [Parameter] public string StatDName { get; set; } = "Storage";
}