@using ElementsLib.Models
@using ElementsLib.BaseElements
@inherits ComponentBaseWithStyles

<BlockScaffolding AdditionalCssStyles="@("margin: 0 auto; ")"
    CssStyles="@(CssStyles)" 
    HeightOfBlock="@(new WebSizePercent(100))">
    <ul class="button_group @(IsCenter ? "margin: 0 auto; " : "")">
        @foreach (var btn in Buttons)
        {
            <div class="button_group__button @GetWidthStyle()">
                <DynamicComponent Type=@(btn.GetType()) Parameters=@(btn.GetValuesDictionary()) />
            </div>
        }
    </ul>
</BlockScaffolding>



@code {
    [Parameter] public bool IsCenter { get; set; }
    [Parameter] public List<WebButton> Buttons { get; set; }

    private string GetWidthStyle()
    {
        return Buttons.Count switch
        {
            1 => "w100",
            2 => "w50",
            3 => "w33",
            _ => "w25"
            };
    }
}
