
@inherits TextSimple_razor


<div class="text-simple" style="@MainComponentStyles">
    @if (!string.IsNullOrWhiteSpace(Header.Text))
    {
        <span class="text-simple__header evogria" style="@Header.MainModelStyles">
            @Header.Text
        </span>
    }
    @if (!string.IsNullOrWhiteSpace(TextField.Text))
    {
        <span class="text-simple__description" style="@TextField.MainModelStyles">
            @TextField.Text
        </span>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        StateHasChanged();
        base.OnInitialized();
    }

}