@using ElementsLib.AllElements.Models
<button onmouseleave="@ButtonModel.OnMouseExit"
        onmouseenter="@ButtonModel.OnMouseEnter"
        @onclick="ButtonModel.OnClick"
        style="height: @(Height)px;"
        class="button @SelectedStatus @AdditionalClasses">
    <p class="button__text evogria">
        @TextField
    </p>
    @if (!string.IsNullOrWhiteSpace(ImageSource))
    {
        <div class="button__img">
            <img src="@ImageSource" alt="Good." loading="lazy">
        </div>
    }
</button>


@code {

    [Parameter]
    public ButtonGraphicModel ButtonModel { get; set; }

    [Parameter]
    public string? ImageSource
    {
        get => ButtonModel.ImageSource;
        set
        {
            ButtonModel.ImageSource = value;
            StateHasChanged();
        }
    }

    [Parameter]
    public string TextField
    {
        get => ButtonModel.TextField;
        set
        {
            ButtonModel.TextField = value;
            StateHasChanged();
        }
    }

    [Parameter]
    public int Height { get; set; } = 80;

    [Parameter]
    public string? AdditionalClasses { get; set; }

    private string SelectedStatus => ButtonModel.IsSelected || ButtonModel.IsActive ? "selected" : "";
    private string? _imageSource;
    private string _textField = "Text Field.";
}